.fa-brands{
    border-radius: 50%;
    border: 2px solid $white;
    padding: 0.875rem;
    color: $white;
    cursor: pointer;
    transition: 0.3s;
}

.fa-brands:hover{
    border: 2px solid $soft-magenta;
    color: $soft-magenta;
}

.icons{
    display: flex;
    justify-content: end;
    gap: 1rem;
    flex-wrap: wrap;
}