@media (max-width: 1195px){

    .container{
        display: flex;
        flex-direction: column;
    }

    .right{
        text-align: center;
        margin-top: -1rem;
    }

    .logo{
       text-align: center;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .icons{
        margin-top: 1rem;
    }
}